{erl_opts, [no_debug_info]}.

{deps, [{amqp_client, "3.5.6"},
        {getopt, "0.8.2"},
        {lager, "3.2.0"}]}.

{escript_incl_apps, []}.

{escript_top_level_app, mgmt_stress}.
{escript_name, mgmt_stress}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

{erl_opts, [{parse_transform, lager_transform}]}.
